{
  "globals": {
    "c": 1,
    "d": 1,
    "u": 1,
    "g": 1
  },
  "rules": {
    "no-sparse-arrays": 0,
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "double"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended"
}
